[submodule "pathogen/vim-commentary"]
	path = pathogen/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim-scriptease"]
	path = vim-scriptease
	url = git://github.com/tpope/vim-scriptease.git
[submodule "pathogen/vim-scriptease"]
	path = pathogen/vim-scriptease
	url = git://github.com/tpope/vim-scriptease.git
[submodule "pathogen/vim-sensible"]
	path = pathogen/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "pathogen/vim-fugitive"]
	path = pathogen/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "pathogen/vim-eunuch"]
	path = pathogen/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "pathogen/syntastic"]
	path = pathogen/syntastic
	url = git://github.com/scrooloose/syntastic.git
